
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-pinterest-circled:before { content: '\f0d2'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
